body {
  background-color: #FFF0C5;
}

.container {
  text-align: center;
  margin-top: 1.5vh;
}

h2 {
  font-size: 3vw;
}

.display_point {
  background-color: #C4F1FF;
  height: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 1vh;
}

.display_point p {
  font-size: 5vw;
}

.housework_select {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 2.3em;
}

.housework_select ul {
    display: flex;
    margin: 0 1%;   /*ボタン同士の間隔を開ける用*/
    list-style: none;
}

.housework_select img {
    width: 80%;  /* 親要素の80%のサイズにしてくれる*/
    border-radius: 1vh;
}

#others img {
  width: 60%;
  border-radius: 1vh;
}

.btn {
  cursor: pointer;
  user-select: none;
}

.partner_select select {
  cursor: pointer;
  user-select: none;
  background-color: #FFAAED;
  width: 30vw;
  height: 5vh;
  font-weight: bold;
  border: none;
  border-radius: 5em; /* ボタンの角を丸くする */
  margin-bottom: 3vh;
  color: white;
  padding-left: 1vw;
}

#decision {
  background-color: #00CB00;
  width: 10vw;
  height: 6vh;
  padding-top: 1.5vh;
  font-weight: bold;
  border-radius: 5em;
  color: white;
}

/* 非活性の時に色を薄くする */
.inactive {
  opacity: 0.6;
}