body {
    font-size: 100%;
    background-color: #FFF0C5;
    text-align:center;
    height: 100%
}

h1 {
    background-color: #C4F1FF;
    line-height: 100%;
    font-size: 250%;
    font-weight: Bold;
    margin: 1em 0;
    padding: 15px;
    border-radius: 10px;
}

select {
    cursor: pointer;
    user-select: none;
    background-color: #FFAAED;
    width: 250px;
    height: 30px;
    line-height: 49px;
    font-weight: bold;
    border: none;
    border-radius: 450px; /* ボタンの角を丸くする */
    margin-bottom: 20px;
    color: white;
    padding-left: 10px;
}

.information {
    background-color: #C4F1FF;
    margin: 1em 0;
    padding: 5px;
    border-radius: 10px;
}

.information p {
    font-size: 150%;
}

.switch{
    position: relative;
    text-align: center;
}

#view_area {
    width: 20%;
    border-radius: 1vh;
}

#disp_count {
    background-color: #C4F1FF;
    color: #000;
    width: 20%;
    border-radius: 1vh;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    cursor: pointer;
    user-select: none;
    background-color: #00CB00;
    width: 150px;
    height: 60px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 450px; /* ボタンの角を丸くする */
    color: white;
    font-size: 14px;
    margin-top: 3vh;
}

.sent{
    text-align: center;
    font-size: 28px;
}