{% extends "header.html" %}
{% block main %}
<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <title>Friend</title>
        <script src="/static/js/jquery.js"></script>
        <link rel="stylesheet" href="static/css/friend_delete.css">
    </head>

    <body>
        <h1>フレンド削除</h1>

        <div>
            <select name="friend" id="friend_delete">
                {% for friend_name in friends_name %}
                <option hidden>選択してください</option>
                    <option> {{ friend_name.name }} </option>
                {% endfor %}
            </select>
        </div>

        <div id="del" class="btn">削除</div>

        <script src="../static/js/friend_delete.js"></script>
    </body>

</html>
{% endblock %}