{% extends "header.html" %}
{% block main %}
<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/friend_list.css">
        <title>Friend</title>
    </head>

    <body>
        <h1>フレンドリスト</h1>

        <div class="friend_list">
            {% for friend_information in friends_information %}
                <div class="friend_information">
                    <p style="display:inline"> {{ friend_information.name }} : </p>
                    <h2 style="display:inline">{{ friend_information.point }}pt</h2>
                    <p></p>  <!--フレンドを縦並びにする-->
                </div>
            {% endfor %}
        </div>

        <a href = "/search" class = "btn" id= "add">フレンドの追加はこちらから</a>
        <a href = "/delete" class = "btn" id = "delete">フレンドの削除はこちらから</a>
    </body>
</html>
{% endblock %}