{% extends "header.html" %}
{% block main %}
<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <title>Friend_search</title>
        <script src="/static/js/jquery.js"></script>
        <link rel="stylesheet" href="static/css/friend_search.css">
    </head>

    <body>
        <h1>友達申請・承認</h1>

            <form action="" method="POST">
                <p>LINEの名前で検索：<input type="text" name="search" size=20% placeholder="入力してください" class="inputname"></p>
                <br>
                <input type="submit" value = "検索" class="search">
            </form>

        <div>
            <select name="friend" id="friend_add">
                <option hidden>選択してください</option>
                {% for searched_friend in searched_friend_name %}
                    <option> {{ searched_friend.name }} </option>
                {% endfor %}
            </select>
        </div>

        <div id="add" class="btn">追加</div>

        <script src="../static/js/friend_search.js"></script>

    </body>
</html>
{% endblock %}