{%- extends "header.html" %}
{%- block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Home</title>
    <script src="/static/js/jquery.js"></script>
</head>

<body>
    <div class="container">
        <div class="display_point">
            <h2>{{ username[0][0] }}さんの</h2>
            <h2>ありがとうポイントは</h2>
            <p> {{  point[0][0] }} pt</p>
        </div>


        <div class="selection">
            <div class="housework_select">
                <h2>家事を選んでください</h2>
                <ul>
                    <!--imgはインライン要素のため、横並びに設定するためにliをつける -->
                    <li><div id="cooking" class="btn"><img src="../static/img/cooking.png"></div></li>  <!-- Jacascriptと連携させてボタンにするためにid属性を付与 -->
                    <li><div id="shopping" class="btn"><img src="../static/img/shopping.png"></div></li>
                    <li><div id="cleaning" class="btn"><img src="../static/img/cleaning.png"></div></li>
                </ul>

                <ul>
                    <li><div id="washing" class="btn"><img src="../static/img/washing.png"></div></li>
                    <li><div id="garbage" class="btn"><img src="../static/img/garbage.png"></div></li>
                    <li><div id="transfer" class="btn"><img src="../static/img/transfer.png"></div></li>
                </ul>

                <ul>
                    <li><div id="others" class="btn"><img src="../static/img/others.png"></div></li>
                </ul>

            </div>

            <hr>

            <div class="partner_select">
                <h2>相手を選んでください</h2>
                    <select name="friend" id="friend_name">
                        <option hidden>選択してください</option>
                        {% for friend in friends_name %}
                            <option> {{ friend }} </option>
                        {% endfor %}
                    </select>
            </div>

            <div id="decision" class="btn">決定</div>

        </div>
    </div>

    <!-- jsファイルの読み込み -->
    <script src="../static/js/home.js"></script>
</body>
</html>
{%- endblock %}
